<div class="card-header pb-0 text-left">
    <h3 class="font-weight-bolder text-primary text-gradient">Insert today</h3>
</div>
<div class="card-body pb-3">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <label>Name</label>
                <div class="mb-3">
                    <input id="ContactName" type="text" class="form-control" placeholder="Contact Name">
                </div>
            </div>
            <div class="col-md-6">
                <label>Email</label>
                <div class="mb-3">
                    <input id="ContactEmail" type="text" class="form-control" placeholder="Contact Email">
                </div>
            </div>
            <div class="col-md-6">
                <label>Phome Number</label>
                <div class="mb-3">
                    <input id="Contactnumber" type="text" class="form-control" placeholder="Contact Number">
                </div>
            </div>
            <div class="col-md-12">
                <label>City</label>
                <div class="mb-3">
                    <select class="form-control" id="city">
                        <option value="value" selected disabled class="text-center">------Chose City------</option>
                        <option value="Karachi">Karachi</option>
                        <option value="Islamabad">Islamabad</option>
                        <option value="Lahore">Lahore</option>
                        <option value="Hydrabad">Hydrabad</option>
                        <option value="Panjab">Panjab</option>
</select>
                </div>
            </div>

            <div class="col-md-12">
                <input type="button" id="SubmitContact" class="btn btn-secondary" value="Submit" />
            </div>
        </div>
    </div>
</div>

