<div class="card-header pb-0 text-left">
    <h3 class="font-weight-bolder text-primary text-gradient">Insert today</h3>
</div>
<div class="card-body pb-3">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <label>Name</label>
                <div class="mb-3">
                    <input id="Name" type="text" class="form-control" placeholder="Name">
                </div>
            </div>
            <div class="col-md-6">
                <label>Species</label>
                <div class="mb-3">
                    <input id="Species" type="text" class="form-control" placeholder="Species Name">
                </div>
            </div>

            <div class="col-md-6">
                <label>Age</label>
                <div class="mb-3">
                    <input id="Age" type="text" class="form-control" placeholder="Age">
                </div>
            </div>
            <div class="col-md-6">
                <label>Price</label>
                <div class="mb-3">
                    <input id="Price" type="text" class="form-control" placeholder="Price">
                </div>
            </div>

            <div class="col-md-6">
                <label>Description</label>
                <div class="mb-3">
                    <textarea id="Description" class="form-control" placeholder="Description"></textarea>
                </div>
            </div>
            <div class="col-md-6">
                <label>Price</label>
                <div class="mb-3">
                    <input id="Image" type="file" class="form-control" >
                </div>
            </div>
            <div class="col-md-12">
                <label>Category</label>
                <div class="mb-3">
                    <input id="Category" type="text" class="form-control">
                </div>
            </div>

            <div class="col-md-12">
                <input type="button" id="SubmitBird" class="btn bg-gradient-primary" value="Submit" />
            </div>
        </div>
    </div>
</div>

