<div class="card-ground m-4">
    <table class="cst-dt table table-bordered" id="MyTable">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
            </tr>
        </thead>
            <tbody>

            </tbody>
    </table>
</div>


@section ScriptSection {

    <script src="~/ProjectFiles/Category/Index.js"></script>
};